body {
    background-color: #6600FF; /* Cor do fundo da tela */
    color: #3D1F77; /* Cor da letra */
    font-family: "Fira Sans", sans-serif; /* Tipo de letra */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #6C2C91; /* Cor do fundo do botão */
    color: white;
    font-family: "Fira Sans", sans-serif; /* Tipo de letra */
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}

