body {
    background-color: #6600FF;
    color: #3D1F77;
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #6C2C91;
    color: white;
    font-family: "Fira Sans", sans-serif;
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
}
